services:
  batlight:
    container_name: batlight
    image: batuatalay/batlight
    ports:
      - "3000:3000"
    networks:
      - serverNet
    restart: always

  nginx:
    container_name: nginx
    image: nginx
    ports:
      - "80:80"
    depends_on:
      - batlight
    restart: always
    volumes:
      - ./public:/usr/share/nginx/html
    networks:
      - serverNet
networks:
  serverNet:
    driver: bridge


